@import "./variables.scss";
body {
  height: 100%;
  background-color: $gallery;
}

.app-container {
  width: 80%;
  margin: 4rem auto;
}

.content-block {
  margin-bottom: 2rem;
}

.chart-overview-layout {
  display: flex;
}

.chart-div {
  width: 100%;
}

.left-chart {
  width: 46% !important;
}

.right-chart {
  width: 46% !important;
  margin: 0 0 0 auto;
}

.grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.mt-0 {
  margin-top: 0;
}

.f-right {
  float: right;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.width-min-content {
  width: min-content;
}

.input-group {
  margin-right: 1rem;
}

button {
  border-radius: 0.25rem !important;
}
