@import "../../../scss/variables.scss";


.card {
  border: 1.25px solid $gainsboro;
  border-radius: 0.25rem;
  padding: 2rem;
  background: $white;
  -webkit-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.25);
}

.card-header {
  font-weight: bold;
  margin-bottom: 1rem;
}